@using WebApp.Models;
@model List<Category>;

@section title{
    <h3>categories page </h3>

}
<br />
<ul>
    @foreach(var category in Model)
    {
        <li>
            @category.Name
        </li>
      
    }
</ul>